<div {{bind-attr class=":form-group isHtml::checkbox"}}>
  {{#if isHtml}}
    <span class="text-warning">YUI Compressor does not support HTML compression.</span>
      {{else}}
    <label>
      {{input type="checkbox" checked=useYui}}
      Use YUI Compressor instead of UglifyJS/Clean-CSS.
    </label>
  {{/if}}
</div>

<button type="button" class="btn btn-primary" {{ action "defaultOptions" "yui"}}>Use YUI Compressor Defaults</button>

<fieldset>
  <label>Global Options</label>
  <div class="checkbox">
    <label >
      {{input type="checkbox" checked=compressOptions.yui.options.verbose}}
      <code>verbose</code> &mdash; Display informational messages and warnings.
    </label>
  </div>
  <div class="checkbox">
    <label>
      {{input type="number" value=compressOptions.yui.options.line-break}}
      <code>line-break</code> &mdash; Insert a line break after the specified column number.
    </label>
  </div>
</fieldset>

<fieldset>
  <label>JavaScript Options</label>
  <div class="checkbox">
    <label>
      {{input type="checkbox" checked=compressOptions.yui.options.nomunge}}
      <code>nomunge</code> &mdash; Minify only, do not obfuscate.
    </label>
  </div>
  <div class="checkbox">
    <label>
      {{input type="checkbox" checked=compressOptions.yui.options.preserve-semi}}
      <code>preserve-semi </code> &mdash; Preserve all semicolons.
    </label>
  </div>
  <div class="checkbox">
    <label>
      {{input type="checkbox" checked=compressOptions.yui.options.disable-optimizations}}
      <code>disable-optimizations</code> &mdash; Disable all micro optimizations.
    </label>
  </div>
</fieldset>
