{{#unless output}}

  <div class="row">
    <div class="col-sm-6"><h2>Input</h2></div>
    <div class="col-sm-6 text-right compressed-actions">
      <div class="btn-group">
        <button type="button" {{ bind-attr disabled=isCompressing class=":btn guessJavascript:btn-primary:btn-default" }} {{ action "compress" "javascript" }}><span class="glyphicon glyphicon-resize-small"></span> Javascript</button>
        <button type="button" {{ bind-attr disabled=isCompressing class=":btn guessCss:btn-primary:btn-default" }} {{ action "compress" "css" }}><span class="glyphicon glyphicon-resize-small"></span> CSS</button>
        <button type="button" {{ bind-attr disabled=htmlDisabled class=":btn guessHtml:btn-primary:btn-default" }} {{ action "compress" "html" }}><span class="glyphicon glyphicon-resize-small"></span> HTML</button>
      </div>
    </div>
  </div>

  {{#if isStalled}}
    <div class="alert alert-warning">
      <strong>Uh oh!</strong> Your request is taking a long time to process, or the API has died. :(
    </div>
  {{/if}}

  <div class="row">
    <div class="col-lg-12">
      <div class="form-group">
        {{view "drag-and-drop"
          value=input
          class="form-control input"
          rows="10"
          placeholder="Paste your JavaScript or CSS code here, or drag in files from your desktop."
          disabled=isCompressing}}
      </div>
      {{#if isCompressing}}
        <div class="is-compressing">
          <div class="progress">
            <div class="progress-bar progress-bar-striped active"></div>
          </div>
        </div>
      {{/if}}
    </div>
  </div>

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#options" role="tab" data-toggle="tab">Options</a></li>
    <li role="presentation"><a href="#uglify" role="tab" data-toggle="tab">UglifyJS 2</a></li>
    <li role="presentation"><a href="#cleancss" role="tab" data-toggle="tab">Clean-CSS</a></li>
    <li role="presentation"><a href="#htmlminifier" role="tab" data-toggle="tab">HTML Minifier</a></li>
    <li role="presentation"><a href="#yui" role="tab" data-toggle="tab">YUI Compressor</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="options">{{partial 'options/options'}}</div>
    <div role="tabpanel" class="tab-pane" id="uglify">{{partial 'options/uglify'}}</div>
    <div role="tabpanel" class="tab-pane" id="cleancss">{{partial 'options/cleancss'}}</div>
    <div role="tabpanel" class="tab-pane" id="htmlminifier">{{partial 'options/htmlminifier'}}</div>
    <div role="tabpanel" class="tab-pane" id="yui">{{partial 'options/yui'}}</div>
  </div>

  <hr>

{{else}}

  <div class="row">
    <div class="col-lg-6">
      <h2>Compressed {{displayLanguage}}</h2>
    </div>
    <div class="col-lg-6 text-right compressed-actions">
      {{#if error}}
        <button type="button" class="btn btn-default" {{action "resetCompressor"}}><span class="glyphicon glyphicon-refresh"></span> Reset</button>
      {{else}}
        <div class="input-group">
          {{input class="form-control" value=filename}}
          <span class="input-group-btn">
            <button type="button" class="btn btn-primary" {{action "save"}} {{bind-attr disabled=saveDisabled}}><span class="glyphicon glyphicon-save"></span> Save</button>
            <button type="button" class="btn btn-primary" {{action "saveGzip"}}><span class="glyphicon glyphicon-resize-small"></span> gzip</button>
            <button type="button" class="btn btn-default" {{action "resetCompressor"}}><span class="glyphicon glyphicon-refresh"></span> Reset</button>
          </span>
        </div>
      {{/if}}
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      {{view "output-text-area" classBinding=":form-control :alert error:alert-danger:alert-success" rows="10" value=output}}
    </div>
  </div>

  {{#unless error}}
    <div class="row">
      <div class="col-md-6 col-md-push-6 text-right">
        Input: {{filesize input.length}}<br>
        Output: {{filesize output.length}}<br>
        <strong {{bind-attr class="isGoodDelta:text-success:text-danger"}}>Delta: {{filesize delta}} ({{deltaPercentage}})</strong>
      </div>
      <div class="col-md-6 col-md-pull-6">
        <button type="button" class="btn btn-primary" {{action "createGist"}}>Create Anonymous Gist</button>
        {{#if gistUrl}}<a {{bind-attr href=gistUrl}}>{{gistUrl}}</a>{{/if}}
      </div>
    </div>
  {{/unless}}

{{/unless}}

{{!-- Hidden form used to POST to gzip url for download --}}
<form {{bind-attr action=gzipUrl}} method="post">
  {{input name="code" value=output type="hidden"}}
</form>
